<footer class="page-footer purple darken-2">
  <div class="footer-copyright">
    <div class="container">
    © 2019 Paws &amp; Pooches
    <a class="grey-text text-lighten-4 right" href="/api/pets">All Pets API</a>
    </div>
  </div>
</footer>