<nav>
    <div class="nav-wrapper purple darken-2 z-depth-1">
      <a href="/" class="brand-logo">P&amp;P Shelter</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/add-user">Sign Up</a></li>
        <li><a href="/add-pet">Add Pet</a></li>
        <li><a href="/all-pets">All Pets</a></li>
        <li><a href="/all-users">All users</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/add-user">Sign Up</a></li>
    <li><a href="/add-pet">Add Pet</a></li>
    <li><a href="/all-pets">All Pets</a></li>
    <li><a href="/all-users">All Users</a></li>
  </ul>
  
