<div class="container">

  <div class="row">
    <h2>All users</h2>
    <p>Checkout all the users that have their pets up for adoption</p>
  </div>


 <ul class="collection">
    {{#each users}}
    <li class="collection-item">
      <a href="user/{{this.id}}">{{this.name}} | {{this.type}}</a>
    </li>
    {{/each}}
  </ul>


</div>