<div class="container">
  <h1 class="header center teal-text text-lighten-2">Paws and Pooches Animal Shelter</h1>
  <div class="row center">
    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
  </div>
  <div class="row center">
    <a href="http://materializecss.com/getting-started.html" id="download-button"
      class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
  </div>
  <br>
  <ul class="collection">
    {{#each pets}}
    <li class="collection-item">
      <a href="pet/{{this.id}}">{{this.name}} | {{this.type}}</a>
    </li>
    {{/each}}
  </ul>
</div>

<!-- Page-specific JS -->
<script src="/js/index.js"></script>
