<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h2>No pets for {{user.name}}</h2>
      <p>
        <a href="/all-users">← Back To All Users Page</a>
      </p>
      <p>
        <a href="/">← Back To Home</a>
      </p>
    </div>
  </div>
</div>