<div class="container">

  <div class="row">
    <h2>All pets for user {{UserId}}</h2>
  </div>

  <ul class="collection">
    {{#each pets}}
    <li class="collection-item">
      <a href="/pet/{{this.id}}">{{this.name}} | {{this.type}}</a>
    </li>
    {{/each}}
  </ul>

</div>