/* Sticky footer styles */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* End sticky footer styles */

.page-footer {
  padding-top: 0;
}

.list-group-item {
  line-height: 2.5;
}

h2, p {
  font-family: 'Arapey', serif;
}