/* Sticky footer styles */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  padding-top: 0;
}

/* End sticky footer styles */

main {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* '404' and 'no-pets' styling */

.not-found {
  background-image: url("/images/cat-on-right.jpg");
  color: whitesmoke;
}

.not-found a {
  font-size: 1.25rem;
}

/* END '404' and 'no-pets' styling */

.info-page {
  background-image: url("/images/cat-mouth-close.jpg");
}

/* h2, p {
  font-family: 'Arapey', serif;
} */

#all-pets-list {
  width: 60%;
  margin: auto;
}

.carousel {
  max-height: 300px;
}
