/* Sticky footer styles */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  padding-top: 0;
}

/* End sticky footer styles */

/* '404' and 'no-pets' styling */

.not-found {
  background-image: url("/images/cat-on-right.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}

.not-found a {
  font-size: 1.25rem;
}

/* END '404' and 'no-pets' styling */

.list-group-item {
  line-height: 2.5;
}


h2, p {
  font-family: 'Arapey', serif;
}


.add-user {
  background-image: url("/images/blue.jpeg");
}